/* app/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Color Theme */
:root {
  --color-primary: #1a2741;    /* Dark Blue */
  --color-secondary: #f16c26;  /* Orange */
  --color-accent: #44bfba;     /* Teal */
  --color-success: #41b776;    /* Green */
  --color-secondary-hover: #e05b1a; /* Darker Orange */
}

body {
  @apply bg-gray-100 text-gray-900;
}

header {
  @apply bg-primary text-white border-b border-secondary;
}

footer {
  @apply bg-primary text-white;
}

.container {
  @apply max-w-7xl mx-auto;
}

a {
  @apply transition-colors duration-200;
}

a:hover {
  @apply text-accent; /* Tailwind's accent color */
}

/* Ensure images are responsive */
img {
  @apply max-w-full h-auto;
}

/* Additional global styles */
@media (max-width: 640px) {
  /* Adjust language selector button on mobile */
  .language-selector-button {
    @apply px-2 py-1;
  }
}

/* Custom Button Styles */
button {
  @apply bg-secondary text-white rounded-md hover:bg-secondary-hover focus:outline-none transition-colors duration-200;
}

/* Transition Effects for Dropdown */
.transition-transform {
  transition: transform 0.2s ease-in-out;
}
